[core]
	editor = nvim
	excludesfile = $HOME/.gitignore
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[user]
	name = Rick Winfrey
	email = rick.winfrey@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
[rerere]
	enabled = true
	autoUpdate = true
[alias]
	stash = stash --all
[column]
	ui = auto
[branch]
	sort = -committerdate
